.projects-page{
  .text-zone{
    h1{
      background: -webkit-linear-gradient(45deg, #531fff, #3aeefd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }



  }






}