.home-page {

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 48%;
    max-height: 90%;
  }


  h1 {
    font-size: 55px;
    line-height: 60px;
    margin: 0;
    font-family: 'Mate SC', monospace;
    font-weight: 400;
    animation: ease-in 1s;
    //background: -webkit-linear-gradient(45deg, #4030d7, #f3f3fc);
    background: -webkit-linear-gradient(45deg, #531fff, #3aeefd);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;


      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: white;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
  h2{
    color: white;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fade-in 1s 1.8s backwards;
  }

  .flat-button{
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid white;
    margin-top: 25px;
    float: left;
    animation: fade-in 1s 1.8s backwards;
    white-space: nowrap;

    &:hover{
      background: white;
      color: #333;
    }
  }



}

