.home-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh; // Make the container full height

  .text-zone {
    position: relative;
    left: 10%;
    width: 48%;
    max-height: 90%;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .canvas-container {
    width: 50%; // Adjust the width to your preference
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 55px;
    line-height: 60px;
    margin: 0;
    font-family: 'Mate SC', monospace;
    font-weight: 400;
    animation: ease-in 1s;
    background: -webkit-linear-gradient(45deg, #531fff, #3aeefd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: white;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1.7s backwards;
      opacity: 0.6;
    }
  }

  h2 {
    color: white;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fade-in 1s 1.8s backwards;
  }

  .flat-button {
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid white;
    margin-top: 25px;
    display: inline-block;
    animation: fade-in 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: white;
      color: #333;
    }
  }
}
